<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-subscribe">
        <a href="/favicon.svg" class="footer-logo">
          <svg class="link-icon" width="83" height="23">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-subtitle">
          Subscribe to our newsletter for the latest updates on our yoga courses
          and events.
        </p>
        <form class="footer-form">
          <label for="email" class="footer-visually-hidden">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Placeholder"
            class="footer-input"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
          <button type="submit" class="button footer-button">Join</button>
        </form>
        <p class="footer-policy-text">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
      </div>
      <div class="footer-wrapper">
        <div class="footer-navigation">
          <h4 class="footer-navigation-subtitle">Quick Links</h4>
          <ul class="footer-navigation-list">
            <li class="footer-navigation-item"><a href="/">Yoga Classes</a></li>
            <li class="footer-navigation-item"><a href="/">Team</a></li>
            <li class="footer-navigation-item"><a href="/">Pricing</a></li>
            <li class="footer-navigation-item"><a href="/">Contacts</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <h4 class="footer-social-subtitle">Connect With Us</h4>
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a href="https://facebook.com">
                <svg class="link-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-Facebook"></use>
                </svg>
                Facebook</a
              >
            </li>
            <li class="footer-social-item">
              <a href="https://instagram.com">
                <svg class="link-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-Instagram"></use>
                </svg>
                Instagram</a
              >
            </li>
            <li class="footer-social-item">
              <a href="https://linkedin.com">
                <svg class="link-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-LinkedIn"></use>
                </svg>
                LinkedIn</a
              >
            </li>
            <li class="footer-social-item">
              <a href="https://youtube.com">
                <svg class="link-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-Youtube"></use>
                </svg>
                YouTube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="footer-copyright">&copy;2025 Yoga Studio. All rights reserved</p>
  </div>
</footer>
