<section class="gallery" id="gallery">
  <div class="container special-padding">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>

    <ul class="gallery-list">
      <li class="gallery-list-item">
        <img
          class="gallery-list-item-img"
          srcset="
            /img/gallary/galleryone.webp   1x,
            /img/gallary/galleryone2x.webp 2x
          "
          src="/img/gallary/galleryone.webp"
          alt="People in the urora stretch their arms up on their legs"
        />
      </li>
      <li class="gallery-list-item">
        <img
          class="gallery-list-item-img"
          srcset="
            /img/gallary/gallerytwo.webp   1x,
            /img/gallary/gallerytwo2x.webp 2x
          "
          src="/img/gallary/gallerytwo.webp"
          alt="Woman sitting in lotus position"
        />
      </li>
      <li class="gallery-list-item">
        <img
          class="gallery-list-item-img"
          srcset="
            /img/gallary/gallerythree.webp   1x,
            /img/gallary/gallerythree2x.webp 2x
          "
          src="/img/gallary/gallerythree.webp"
          alt="Empty room with yoga mats"
        />
      </li>
      <li class="gallery-list-item">
        <img
          class="gallery-list-item-img"
          srcset="
            /img/gallary/galleryfour.webp   1x,
            /img/gallary/galleryfour2x.webp 2x
          "
          src="/img/gallary/galleryfour.webp"
          alt="Empty room with yoga mats"
        />
      </li>
      <li class="gallery-list-item">
        <img
          class="gallery-list-item-img"
          srcset="
            /img/gallary/galleryfive.webp   1x,
            /img/gallary/galleryfive2x.webp 2x
          "
          src="/img/gallary/galleryfive.webp"
          alt="Woman sitting in lotus position"
        />
      </li>
      <li class="gallery-list-item">
        <img
          class="gallery-list-item-img"
          srcset="
            /img/gallary/gallerysix.webp   1x,
            /img/gallary/gallerysix2x.webp 2x
          "
          src="/img/gallary/gallerysix.webp"
          alt="Woman sitting in lotus position"
        />
      </li>
    </ul>
  </div>
</section>
