<header class="header">
    <div class=" container header-container">
        <button type="button" class="burger-btn">
            <svg class="icon-burger-menu" width="24" height="24">
                <use href="/img/icons.svg#icon-menu"></use>
            </svg>
        </button>
        
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link current">Yoga Classes</a></li>
                <li class="nav-item"><a class="nav-link">Team</a></li>
                <li class="nav-item"><a class="nav-link">Testimonials</a></li>
                <li class="nav-item"><a class="nav-link">Pricing</a></li>
                <li class="nav-item"><a class="nav-link">Contacts</a></li>
            </ul>

            <a class="logo header-logo" href="./index.html">
                <svg class="" width="84" height="36">
                    <use href="/img/icons.svg#icon-logo"></use>
                </svg>
            </a>
        </nav>

        <a class="button btn-header" href="#pricing-section">
            <span class="mobile-text-header">Join</span>
            <span class="tb-ds-text-header">Join Now</span>
        </a>

    </div>

    <div class="mobile-menu">
        <div class="">
            <button class="navbar-close">
                <svg class="icon-navbar-close" width="24" height="24">
                    <use href="/img/icons.svg#icon-modal"></use>
                </svg>
            </button>
            <a class="logo header-logo" href="./index.html">
                <svg class="" width="84" height="36">
                    <use href="/img/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <button type="button" class="button">
                <a href="#pricing-section">Join</a>
            </button>
        </div>

        <div>
            <nav>
                <ul >
                    <li><a>Yoga Classes</a></li>
                    <li><a>Team</a></li>
                    <li><a>Testimonials</a></li>
                    <li><a>Pricing</a></li>
                    <li><a>Contacts</a></li>
                </ul>
            </nav>
            <button type="button" class="button">
                <a href="#pricing-section">Join Now</a>
            </button>
        </div>
    </div>
</header>