<section id="pricing" class="pricing-section">
  <div class="container">
    <p class="pricing-paragraph-title">Affordable</p>
    <h2 class="pricing-header">Pricing Plans</h2>
    <p class="price-paragraph-description">
      Choose the perfect plan for your yoga journey.
    </p>

    <ul class="pricing-plans-list">
      <li class="pricing-plans-list-item">
        <div class="plan-item-title">
          <h6 class="plan-name">One Session</h6>
          <h2 class="plan-price">$10</h2>
        </div>
        <ul class="plan-features">
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            1 group session
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            10% discount for next 2 Sessions
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button class="pricing-btn button" data-modal-open-10>Join</button>
      </li>
      <li class="pricing-plans-list-item">
        <div class="plan-item-title">
          <h6 class="plan-name">8 Sessions Package</h6>
          <h2 class="plan-price">$65</h2>
        </div>
        <ul class="plan-features">
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            6 Group Sessions
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            2 Individual Sessions
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button class="pricing-btn button" data-modal-open-65>Join</button>
      </li>
      <li class="pricing-plans-list-item plan-plans-list-item-third">
        <div class="plan-item-title">
          <h6 class="plan-name">12 Sessions Package</h6>
          <h2 class="plan-price">$80</h2>
        </div>
        <ul class="plan-features">
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            8 Group Sessions
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            4 Individual Sessions
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Monthly yoga challenges
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Exclusive member discounts
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button
          class="pricing-btn pricing-btn-third button"
          type="button"
          data-modal-open-80
        >
          Join
        </button>
      </li>
      <li class="pricing-plans-list-item pricing-plans-list-item-pads">
        <div class="plan-item-title">
          <h6 class="plan-name">12 Sessions Package</h6>
          <h2 class="plan-price">$80</h2>
          <button
            class="pricing-btn pricing-btn-third button"
            type="button"
            data-modal-open-80-pads
          >
            Join
          </button>
        </div>
        <ul class="plan-features">
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            8 Group Sessions
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            4 Individual Sessions
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Monthly yoga challenges
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Exclusive member discounts
          </li>
          <li class="plan-features-item">
            <svg class="check-icon">
              <use href="img/icons.svg#icon-check" class="check-point"></use>
            </svg>
            Community support group
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
