<section class="section our-team">
  <div class="container">
    <p class="meet">Meet</p>
    <h2 class="team-title">Our Team</h2>
    <p class="team-description">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="/img/liam.png, /img/liam2x.png"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/liam.png, /img/liam2x.png"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/liam.png, /img/liam2x.png"
          />
          <img src="/img/liam.png" alt="liam photo" />
        </picture>
        <h3 class="team-name">Liam Johnson</h3>
        <p class="team-info">Yoga Instructor</p>
        <p class="team-about">
          Liam specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-social-media">
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-LinkedIn"
                ></use></svg
            ></a>
          </li>
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-Instagram"
                ></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="/img/emma.png, /img/emma2x.png" />
          <source
            media="(min-width: 768px)"
            srcset="/img/emma.png, /img/emma2x.png" />
          <source
            media="(max-width: 767px)"
            srcset="/img/emma.png, /img/emma2x.png" />
          <img src="/img/emma.png" alt="emma photo"
        /></picture>
        <h3 class="team-name">Emma Stone</h3>
        <p class="team-info">Meditation Coach</p>
        <p class="team-about">
          Emma has over 10 years of experience in Hatha and Vinyasa yoga.
        </p>
        <ul class="team-social-media">
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-LinkedIn"
                ></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="/img/sophia.png, /img/sophia2x.png"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/sophia.png, /img/sophia2x.png"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/sophia.png, /img/sophia2x.png"
          />
          <img src="/img/sophia.png" alt="sophia photo" />
        </picture>
        <h3 class="team-name">Sophia Lee</h3>
        <p class="team-info">Pilates Trainer</p>
        <p class="team-about">
          Sophia combines Pilates with yoga for a holistic fitness approach.
        </p>
        <ul class="team-social-media">
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-Instagram"
                ></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="/img/noah.png, /img/noah2x.png"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/noah.png, /img/noah2x.png"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/noah.png, /img/noah2x.png"
          />
          <img src="/img/noah.png" alt="noah photo" />
        </picture>
        <h3 class="team-name">Noah Brown</h3>
        <p class="team-info">Yoga Therapist</p>
        <p class="team-about">
          Noah focuses on therapeutic yoga to aid recovery and enhance
          well-being.
        </p>
        <ul class="team-social-media">
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-LinkedIn"
                ></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="/img/ava.png, /img/ava2x.png"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/ava.png, /img/ava2x.png"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/ava.png, /img/ava2x.png"
          />
          <img src="/img/ava.png" alt="ava photo" />
        </picture>
        <h3 class="team-name">Ava Green</h3>
        <p class="team-info">Fitness Trainer</p>
        <p class="team-about">
          Ava integrates strength training with yoga to promote overall fitness.
        </p>
        <ul class="team-social-media">
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-Facebook"
                ></use></svg
            ></a>
          </li>
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-Instagram"
                ></use></svg
            ></a>
          </li>
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-LinkedIn"
                ></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="/img/clark.png, /img/clark2x.png"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/clark.png, /img/clark2x.png"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/clark.png, /img/clark2x.png"
          />
          <img src="/img/clark.png" alt="clark photo" />
        </picture>
        <h3 class="team-name">Clark Thomas</h3>
        <p class="team-info">Fitness Trainer</p>
        <p class="team-about">
          Clark specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-social-media">
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-Facebook"
                ></use></svg
            ></a>
          </li>
          <li class="team-social-media-item">
            <a
              class="team-social-media-link link-anim"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use
                  class="icon"
                  href="/img/icons.svg#icon-Instagram"
                ></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
