<section class="yoga-classes" id="yoga-classes">

    <div class="subtitleone">
        <div class="subtitle">Explore</div>
        <h2 class="visually-hidden">Discover Our Most Popular Yoga Programs</h2>
        <p class="description">Join our community and elevate your practice with our expertly designed yoga programs.
            Each
            course is tailored to meet
            various skill levels and personal goals. </p>
    </div>

    <div class="cards">
        <ul class="ulcards">
            <li class="licards">
                <picture class="containerpict">
                    <source media="(min-width: 1440px)"
                        srcset="/img/placeholderimage1xcom.png 1x, /img/placeholderimage2xcom.png 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/placeholderimag1xpl.png 1x, /img/placeholderimag2xpl.png 2x">
                    <source media="(min-width: 375px)"
                        srcset="/img/placeholderimage1xmob.png 1x, /img/placeholderimage2xmob.png 2x">
                    <img class="photofournew" src="/img/placeholderimage1xcom.png" alt="placeholderimage">
                </picture>

                <h3 class="sectionname">Beginner Yoga: Foundations</h3>
                <p class="sectioninfo">Learn the basics of yoga in a supportive environment.</p>
            </li>
            <li class="licards">
                <picture class="containerpict">
                    <source media="(min-width: 1440px)"
                        srcset="/img/vinyasaflow1xcom.png 1x, /img/vinyasaflow2xcom.png 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/vinyasaflow1xpl.png 1x, /img/vinyasaflow2xpl.png 2x">
                    <source media="(min-width: 375px)"
                        srcset="/img/vinyasaflow1xmob.png 1x, /img/vinyasaflow2xmob.png 2x">
                    <img class="photofournew" src="/img/vinyasaflow1xcom.png" alt="vinyasaflow">
                </picture>

                <h3 class="sectionname">Vinyasa Flow: Energize Your Body and Mind</h3>
                <p class="sectioninfo">Experience a dynamic sequence that connects breath and movement.</p>
            </li>
            <li class="licards">

                <picture class="containerpict">
                    <source media="(min-width: 1440px)"
                        srcset="/img/restorativeyoga1xcom.png 1x, /img/restorativeyoga2xcom.png 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/restorativeyoga1xpl.png 1x, /img/restorativeyoga2xpl.png 2x">
                    <source media="(min-width: 375px)"
                        srcset="/img/restorativeyoga1xmob.png 1x, /img/restorativeyoga2xmob.png 2x">
                    <img class="photofournew" src="/img/restorativeyoga1xcom.png" alt="vinyasaflow">
                </picture>

                <h3 class="sectionname">Restorative Yoga: Deep Relaxation and Healing</h3>
                <p class="sectioninfo">Unwind and rejuvenate with gentle poses and mindfulness.</p>
            </li>
        </ul>
    </div>

    <a href="#pricing" class="btn"><span class="namebtn">Join now</span></a>

</section>