/*#region footer*/

.footer {
  width: 100%;
  background-color: #dfebeb;
  padding: 48px 0;
}

.footer-container {
  border: none;
  border-radius: 16px;
  padding: 32px;
  max-width: 343px;
  background-color: #f8fbfe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*#region newsletter*/
.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 83px;
  height: 23px;
  margin-bottom: 20px;
}

.footer-subtitle {
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.footer-input {
  border-radius: 12px;
  padding: 10px 24px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(13, 11, 10, 0.05);
  width: 100%;
  max-width: 279px;
}

.footer-button {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(13, 11, 10, 0.05);
  width: 100%;
  max-width: 279px;
}

.footer-policy-text {
  font-size: 12px;
  margin-bottom: 48px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  gap: 40px;
  margin-bottom: 48px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}

.footer-navigation-subtitle,
.footer-social-subtitle {
  font-weight: 600;
  margin-bottom: 16px;
}

.footer-navigation-item,
.footer-social-item {
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-navigation-item:last-child,
.footer-social-item:last-child {
  margin-bottom: 0;
}

.footer-navigation-item a {
  padding: 8px 0;
}

.footer-social-subtitle {
  margin-bottom: 12px;
}

.footer-social-item {
  margin-bottom: 8px;
}

.footer-social-item a {
  font-family: 'Sarabun', sans-serif;
  color: #252322;
  text-decoration: none;
  display: inline-flex;
  gap: 12px;
}

.footer-copyright {
  font-size: 14px;
}

/*#endregion newsletter*/

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 704px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }

  .footer-input {
    width: 546px;
    max-width: 100%;
  }

  .footer-button {
    width: 78px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    gap: 40px;
  }

  .footer-navigation,
  .footer-social {
    width: 300px;
  }
}

@media screen and (min-width: 1336px) {
  .footer-container {
    max-width: 1312px;
    width: 100%;
    padding: 64px;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .footer-top{
    display: flex;
    flex-direction: row;
  }

   .footer-wrapper{
    margin-left:250px ;
    gap:40px;
   }

   .footer-navigation,
   .footer-social{
     width: 166px;
   }


}



/*#endregion footer*/
