.pricing-container {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 100%;
}
.pricing-title {
  text-align: center;
}
.pricing-paragraph-title {
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
.pricing-header {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 20px;
}
.price-paragraph-description {
  line-height: 1.6;
  text-align: center;
}
.pricing-plans {
  margin-top: 48px;
}
.pricing-plans-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.pricing-plans-list-item {
  border-radius: 16px;
  padding: 32px 16px;
  background: #dfebeb;
  margin-right: auto;
  margin-left: auto;
}
.plan-name {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 8px;
}
.plan-price {
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 24px;
}
.plan-features {
  padding: 8px 0px;
}
.plan-features-item {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 16px;
}
.check-icon {
  fill: #0d0b0a;
  margin-right: 8px;
  width: 17px;
  height: 12px;
}
.pricing-btn {
  width: 251px;
  height: 46px;
}

.pricing-plans-list-item-pads {
  display: none;
}

@media only screen and (min-width: 375px) {
  .pricing-container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }
  .pricing-plans-list-item {
    padding: 32px 24px;
  }
  .pricing-btn {
    width: 295px;
  }
  .plan-features-item {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .pricing-plans {
    margin-top: 24px;
  }
  .pricing-plans-list-item {
    flex-grow: 0.5;
    padding: 16px;
  }
  .plan-plans-list-item-third {
    display: none;
  }
  .pricing-plans-list-item-pads {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    align-items: baseline;
    padding: 86px 16px;
  }
  .plan-name {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .pricing-btn {
    width: 308px;
  }
  .pricing-btn-third {
    width: 320px;
  }
  .plan-features-item {
    font-size: 16px;
  }
  .plan-price {
    font-size: 72px;
  }
}
@media only screen and (min-width: 1336px) {
  .pricing-container {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .pricing-plans-list-item-pads {
    display: none;
  }
  .plan-plans-list-item-third {
    display: block;
  }
  .pricing-plans-list-item {
    padding: 32px;
    flex-grow: 0;
  }
  .pricing-btn {
    margin-top: 116px;
  }
  .pricing-btn-third {
    margin-top: 32px;
  }
}
