.testimonials-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonials-title {
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-top: 64px;
}

.testimonials-subtitle {
  margin: 20px 0 24px 0;
  font-size: 18px;
}

.testimonials-sections-pieses {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 24px;
  padding: 12px;
  margin-bottom: 24px;
  background-color: #dfebeb;
}
.testimonials-sections-pieses:last-child {
  margin-bottom: 64px;
}

.client-photo {
  margin: 0 auto;
  border-radius: 50%;
}
.testimonials-sections-pieses-text {
  font-size: 22px;
  text-align: center;
}

.client-name {
  margin-top: 16px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.client-major {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 40px;
  }
  .testimonials-sections-pieses {
    justify-content: space-between;
  }
  .testimonials-sections-pieses:nth-child(1),
  .testimonials-sections-pieses:nth-child(2) {
    height: 356px;
  }
  .testimonials-sections-pieses:nth-child(3),
  .testimonials-sections-pieses:nth-child(4) {
    height: 321px;
  }
}

@media screen and (min-width: 1336px) {
  .testimonials-title {
    font-size: 40px;
  }
  .testimonials-sections-pieses {
    width: calc((100% - 48px) / 2);
    flex-wrap: wrap;
  }
  .testimonials-sections-container {
    max-width: 1350px;
    margin: 0 auto;
  }
  .client-major {
    line-height: 1.6;
  }
  .testimonials-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
  }
  .testimonials-sections-pieses:nth-child(1),
  .testimonials-sections-pieses:nth-child(2) {
    height: 321px;
  }
  .testimonials-sections-pieses:nth-child(1),
  .testimonials-sections-pieses:nth-child(2) {
    height: 356px;
  }
  .client-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  .testimonials-sections-pieses:last-child {
    margin-bottom: 0;
  }
  .testimonials-sections-container {
    margin-bottom: 112px;
  }
}
