.yoga-classes {
    background-color: #DFEBEB;
}

@media screen and (min-width: 375px) {
    .subtitleone {
        text-align: center;
        padding-top: 64px;


    }


    .subtitle {
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0;
        color: #0D0B0A;
        list-style: none;
        padding-bottom: 12px;
        text-align: center;
    }

    .visually-hidden {
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: #0D0B0A;
        list-style: none;
        margin-bottom: 20px;
        text-align: center;
    }

    .description {
        font-family: 'Sarabun', sans-serif;
        ;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: #0D0B0A;
        list-style: none;
        margin-bottom: 48px;
        text-align: center;

    }

    .sectionname {
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        padding-top: 24px;
        font-size: 24px;
        line-height: 1.4;
        padding-bottom: 20px;
        text-align: center;
    }

    .sectioninfo {
        font-family: 'Sarabun', sans-serif;
        ;
        font-weight: 400;
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
    }

    .btn {
        background-color: #C2D9FC;
        font-family: "Sarabun", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0;
        color: #0D0B0A;
        min-width: 343px;
        height: 48px;
        border-radius: 25px;
        display: inline-block;
        margin-bottom: 64px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 156px;
        padding-left: 156px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .containerpict {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 1440px) {
    .subtitleone {

        width: 768px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .subtitle {
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0;
        color: #0D0B0A;
        list-style: none;
        text-align: center;
        margin-bottom: 16px;
    }

    .visually-hidden {
        font-family: 'Cabin', sans-serif;
        width: 768px;
        font-weight: 400;
        font-size: 52px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: #0D0B0A;
        list-style: none;
        text-align: center;
        margin-bottom: 24px;

    }

    .description {
        font-family: 'Sarabun', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: #0D0B0A;
        list-style: none;
        text-align: center;
        margin-bottom: 40px;
    }

    .ulcards {
        list-style: none;
        display: flex;
        gap: 24px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

    .licards {
        width: 422px;
        list-style: none;
        align-items: center;
        justify-content: center;
    }

    .btn {
        background-color: #C2D9FC;
        font-family: "Sarabun", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0;
        color: #0D0B0A;
        width: 110px;
        height: 46px;
        border-radius: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 24px;
        padding-left: 24px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 122px;


    }

    .sectionname {
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        padding-top: 24px;
        font-size: 36px;
        line-height: 1.4;
        padding-bottom: 20px;
        text-align: center;
    }

    .sectioninfo {
        font-family: 'Sarabun', sans-serif;
        font-weight: 400;
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
    }

}

@media screen and (min-width: 768px) {
    .subtitleone {

        width: 704px;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .subtitle {
        font-family: 'Sarabun', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0;
        color: #0D0B0A;
        list-style: none;
        text-align: center;
        margin-bottom: 16px;
    }

    .visually-hidden {
        font-family: 'Cabin', sans-serif;
        width: 768px;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: #0D0B0A;
        list-style: none;
        text-align: center;
        margin-bottom: 24px;

    }

    .description {
        font-family: 'Sarabun', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: #0D0B0A;
        list-style: none;
        text-align: center;
        margin-bottom: 40px;
    }

    .ulcards {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .licards {
        width: 422px;
        list-style: none;
        align-items: center;
        justify-content: center;
    }

    .btn {
        background-color: #C2D9FC;
        font-family: "Sarabun", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0;
        color: #0D0B0A;
        width: 110px;
        height: 46px;
        border-radius: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 24px;
        padding-left: 24px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .sectionname {
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        padding-top: 24px;
        font-size: 24px;
        line-height: 1.4;
        padding-bottom: 20px;
        text-align: center;
    }

    .sectioninfo {
        font-family: 'Sarabun', sans-serif;
        font-weight: 400;
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
    }
}